:root {
  --myprimary: #fff;
}

.btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--myprimary {
  background-color: var(--myprimary);
  color: #242424;
  border: 1px solid var(--myprimary);
}

.btn--myoutline {
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border: 1px solid var(--myprimary);
  transition: all 0.3s ease-out;
}

.btn--mymedium{
  padding: 8px 20px;
  font-size: 18px;
}

.btn--mylarge {
  padding: 12px 26px;
  font-size: 20px;
}

.btn--mylarge:hover,
.btn--medium:hover {
  transition: all 0.3s ease-out;
  background: #fff;
  color: #242424;
  transition: 250ms;
}
